/*@import './tailwind.css';
@import './starlight.css';
*/

@layer base, starlight, theme, components, utilities;

/*@import '@astrojs/starlight-tailwind';*/
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--color-gray-50: var(--color-neutral-50);
	--color-gray-100: var(--color-neutral-100);
	--color-gray-200: var(--color-neutral-200);
	--color-gray-300: var(--color-neutral-300);
	--color-gray-400: var(--color-neutral-400);
	--color-gray-500: var(--color-neutral-500);
	--color-gray-600: var(--color-neutral-600);
	--color-gray-700: var(--color-neutral-700);
	--color-gray-800: var(--color-neutral-800);
	--color-gray-900: var(--color-neutral-900);
	--color-gray-950: var(--color-neutral-950);

	/*--color-neutral-700: oklch(.371 0 0);
    --color-neutral-800: oklch(.269 0 0);
    --color-neutral-900: oklch(.205 0 0);
    --color-neutral-950: oklch(.145 0 0);*/

	--color-starboard-50: #fbfaf3;
	--color-starboard-100: #f8efba;
	--color-starboard-200: #f1dc7e;
	--color-starboard-300: #dbb84d;
	--color-starboard-400: #bd8e2a;
	--color-starboard-500: #9e6f15;
	--color-starboard-600: #81560d;
	--color-starboard-700: #63400d;
	--color-starboard-800: #442c0b;
	--color-starboard-900: #2e1c08;

	--color-brand: #ecd558;
}
@layer utilities {
	/* Dark mode colors. */
	:root {
		--sl-color-accent-low: var(--color-neutral-800);
		--sl-color-accent: #ecd557;
		--sl-color-accent-high: #eee2a0;
		--sl-color-white: #ffffff;
		--sl-color-gray-1: var(--color-neutral-50);
		--sl-color-gray-2: var(--color-neutral-200);
		--sl-color-gray-3: var(--color-neutral-500);
		--sl-color-gray-4: var(--color-neutral-600);
		--sl-color-gray-5: var(--color-neutral-800);
		--sl-color-gray-6: var(--color-neutral-900);
		--sl-color-black: var(--color-neutral-950);
		&[data-theme="light"] {
			--sl-color-accent-low: #eee2a0;
			--sl-color-accent: #ecd557;
			--sl-color-accent-high: var(--color-neutral-950);
			--sl-color-white: var(--color-neutral-950);
			--sl-color-gray-1: var(--color-neutral-950);
			--sl-color-gray-2: var(--color-neutral-900);
			--sl-color-gray-3: var(--color-neutral-800);
			--sl-color-gray-4: var(--color-neutral-600);
			--sl-color-gray-5: var(--color-neutral-500);
			--sl-color-gray-6: var(--color-neutral-200);
			--sl-color-gray-7: var(--color-neutral-50);
			--sl-color-black: #ffffff;
		}
	}

	/* Light mode colors. */
	/*:root[data-theme='light'] {
	--sl-color-accent-low: #eee2a0;
	--sl-color-accent: #ecd557;
	--sl-color-accent-high: var(--color-neutral-950);
	--sl-color-white: var(--color-neutral-950);
	--sl-color-gray-1: var(--color-neutral-950);
	--sl-color-gray-2: var(--color-neutral-900);
	--sl-color-gray-3: var(--color-neutral-800);
	--sl-color-gray-4: var(--color-neutral-600);
	--sl-color-gray-5: var(--color-neutral-500);
	--sl-color-gray-6: var(--color-neutral-200);
	--sl-color-gray-7: var(--color-neutral-50);
	--sl-color-black: #ffffff;
}*/
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	ul,
	ol {
		list-style: revert;
		margin: 0;
		padding: revert;
	}
}

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

/* Fonts */
:root {
	--sl-font: Lexend Variable;
	@apply font-light;
}

:root {
	--sl-sidebar-width: 15rem;
	--sl-content-width: 55rem;
}

nav:has(#starlight__on-this-page) ul li {
	@apply text-balance;
}

h1 {
	@apply text-center xl:text-start font-bold;
}

.sl-markdown-content {
	@apply md:px-6 xl:px-0;
}
/*
.sl-markdown-content ul, .sl-markdown-content li {
	@apply list-disc m-[unset];
}
.sl-markdown-content:is(dir, menu, ol, ul) ul {
   @apply list-[circle];
}*/

.content-panel {
	@apply border-none!;
}

.starlight-aside {
	@apply rounded-lg;
}

.hero img {
	@apply rounded-xl;
}

/* Twemoji */
img.emoji {
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;

	@apply inline-flex h-[1.2em] w-[1.2em];
}

#command img.emoji {
	@apply align-super h-5 w-5;
}

#option img.emoji {
	@apply my-auto!;
}

/* markdown */
code {
	@apply rounded-xs;
}

/* heading link styling */
.heading-link::after {
	@apply opacity-0 ps-2 transition-all duration-300 content-['#'] text-(--sl-color-text-accent);
}

.heading-link:hover::after {
	@apply opacity-100;
}

.heading-link {
	@apply no-underline text-(--sl-color-white)!;
}
