---
interface Props {
    type: LinkType;
}

export enum LinkType {
    Premium = 'premium',
    Support = 'support',
    Invite = 'invite',
}

import { Icon } from '@astrojs/starlight/components';
import { links, } from '../config';

const { type, } = Astro.props;

const href = links[type];

---

<a href={href} target="_blank" class="no-underline"><slot>{
    type === LinkType.Premium ? 'Starboard Premium'
    : type === LinkType.Support ? 'Support Server'
    : '???'
}</slot><Icon name="external" class="pl-1 !inline-block align-middle" size="1.25rem" /></a>
