---
interface Props {
    type: LinkType;
    href?: string
}

export enum LinkType {
    Premium = 'premium',
    Support = 'support',
    Invite = 'invite',
}

import { Icon } from '@astrojs/starlight/components';
import { links, } from '../config';

const { type, href: backupHref } = Astro.props;

const href = backupHref ?? links[type];

---

<a href={href} target="_blank" class="no-underline"><slot>{
    type === LinkType.Premium ? 'Starboard Premium'
    : type === LinkType.Support ? 'Support Server'
    : '???'
}</slot><Icon name="external" class="pl-1 inline-block! align-middle" size="1.25rem" /></a>
