---
interface Props {
    name: String,
    theme?: 'discord' | 'starboard',
}

const { name, theme = 'starboard' } = Astro.props;
---

<span
    class="text-sm font-medium inline-block leading-5 px-1 py-[1px]  rounded-md "
    class:list={
        theme === 'starboard' ? 'bg-starboard-100/50 text-starboard-600 dark:bg-starboard-800/40 dark:text-starboard-400'
        : 'bg-indigo-200/40 text-indigo-700 dark:bg-indigo-800/30 dark:text-indigo-300'
    }
>
    {name}
</span>
